.topBar {
  height: 50px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  .userIcon {
    font-size: 28px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 414px) {
  .topBar {
    display: none;
  }
}
