.container {
  display: flex;
  position: relative;
  .menuButton {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: white;
    border-radius: 4px;
    .menuIcon {
      font-size: 40px;
    }
  }
  .main {
    flex: 6;
    .topBar {
      height: 50px;
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 16px;
      .userIcon {
        font-size: 28px;
        margin-right: 8px;
      }
    }
    .content {
      padding: 50px 80px;
      background-color: rgba(0, 0, 0, 0.1);
      min-height: calc(100vh - 50px);
      display: flex;
      flex-direction: column;
      .table {
        background-color: white;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid black;
        border-collapse: collapse;
        th,
        td {
          border-bottom: 1px solid lightgray;
          border-collapse: collapse;
          padding: 12px 0;
          &:last-child {
            text-align: center;
          }
          &:first-child {
            padding-left: 16px;
          }
        }
      }
      .wrapper {
        flex: 1;
        display: flex;
        margin-top: 20px;
        height: 100%;
        .chart,
        .form {
          flex: 1;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .chart {
          margin-right: 10px;
        }
        .form {
          margin-left: 10px;
          .formInput {
            width: 60%;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            .input {
              width: 100%;
              padding: 16px;
              outline: none;
              border: none;
              border-radius: 8px;
              background-color: #f9f4f4;
            }
            .errorMessage {
              color: red;
              font-size: 13px;
              margin-left: 4px;
            }
          }
          .formButton {
            margin-top: 20px;
            padding: 10px 28px;
            border: none;
            outline: none;
            border-radius: 12px;
            background-color: #f28e19;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .container {
    .menuButton {
      visibility: visible;
    }
    .main {
      .topBar {
        display: none;
      }
      .content {
        padding: 20px;
        min-height: 100vh;
        .table {
          display: none;
        }
        .wrapper {
          flex-direction: column;
          .chart,
          .form {
            width: 100%;
            margin: 20px 0 0 0;
          }
          .form {
            padding: 20px;
            .formInput {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
