.sidebar {
  min-height: 100vh;
  flex: 1;
  border-right: 1px solid gray;
  padding: 10px;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    .headerIcon {
      font-size: 24px;
      margin-right: 8px;
    }
  }
  .user {
    display: none;
  }
  .list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    .item {
      padding: 8px 20px;
      display: flex;
      align-items: center;
      margin: 0 0 8px 30px;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: aliceblue;
        color: #6dabf5;
      }
      a {
        display: flex;
        align-items: center;
        outline: none;
      }
      .itemIcon {
        font-size: 20px;
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -200px;
    background-color: white;
    width: 200px;
    transition: all 0.5s ease;
    &.show {
      left: 0;
    }
    .header {
      display: none;
    }
    .user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-top: 10px;
      .userIcon {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
    .list {
      .item {
        margin-left: 16px;
      }
    }
  }
}
